.App {
  text-align: center;
}

.ui.container#skills .ui.list * {
  text-align: left;
  max-width: 100%!important;
  padding-left: 45%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.Project {
  display: inline-block;
}

#ResumeiFrame {
  position: relative;
  text-align: left;
  display: inline-block;
}

#Footer {
  position: fixed;
  bottom: 0px;
}

.post-header {
  padding-top: 10px;
  padding-bottom: 10px;
}