.App {
  text-align: center;
}

.Project {
  display: inline-block;
}

.Card.Header {
  padding-top: 10px !important;
}

#ResumeiFrame {
  position: relative;
  text-align: left;
  display: inline-block;
}

#Footer {
  position: fixed;
  bottom: 0px;
}
