.App {
  text-align: center;
}

.Project {
  display: inline-block;
}

#ResumeiFrame {
  position: relative;
  text-align: left;
  display: inline-block;
}

#Footer {
  position: fixed;
  bottom: 0px;
  margin-top: 50px;
}

.post-header {
  padding-top: 10px;
  padding-bottom: 10px;
}